.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.mainContainer > * {
  max-width: 996px;
}
.mainContainerHeader {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 24px;
  padding-bottom: 20px;
  background-color: var(--neutral-0);
  width: 100%;
}

.mainContainerContent {
  display: flex;
  flex-direction: column;

  flex: 1;
  padding-bottom: 24px;
  width: 100%;
}
