.button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  box-shadow: var(--shadow-base-default);
  transition: var(--transition-duration);
}

.color-accent {
  background-color: var(--base-400);
  color: var(--base-white);
}
.color-accent:hover {
  background-color: var(--base-500);
  box-shadow: var(--shadow-base-hover);
}
.color-accent:focus-visible {
  background-color: var(--base-500);
  box-shadow: var(--shadow-base-hover);
  outline: 2px solid var(--base-white);
  outline-offset: 2px;
}
.color-accent:active {
  background-color: var(--base-300);
  box-shadow: none;
}

.color-primary {
  background-color: var(--neutral-800);
  color: var(--neutral-100);
}
.color-primary:hover {
  background-color: var(--neutral-700);
  box-shadow: var(--shadow-base-hover);
}
.color-primary:focus-visible {
  background-color: var(--neutral-700);
  box-shadow: var(--shadow-base-hover);
  outline: 2px solid var(--neutral-900);
  outline-offset: 2px;
}
.color-primary:active {
  background-color: var(--neutral-600);
  box-shadow: none;
}

.color-secondary {
  background-color: var(--neutral-200);
  color: var(--neutral-800);
}
.color-secondary:hover {
  background-color: var(--neutral-300);
  box-shadow: var(--shadow-sm-hover);
}
.color-secondary:focus-visible {
  background-color: var(--neutral-300);
  box-shadow: var(--shadow-sm-hover);
  outline: 2px solid var(--neutral-900);
  outline-offset: 2px;
}
.color-secondary:active {
  background-color: var(--neutral-400);
  box-shadow: none;
}

.color-primary.loading {
  background-color: var(--primary-300);
}
.loading {
  box-shadow: none;
  pointer-events: none;
}

.loader {
  position: absolute;
  opacity: 0;
  animation: spin 1s linear infinite;
}
.loading .buttonText {
  visibility: hidden;
  transition: 0s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading svg:not(.loader) {
  opacity: 0;
  transition: 0s;
}

.loading .loader {
  opacity: 1;
}

.size-base {
  padding: 8px 16px 8px 12px;
}
.size-icon-base {
  padding: 8px;
}

.size-lg {
  padding: 12px 16px;
}

.size-icon-lg {
  padding: 12px;
}

.size-base .buttonText {
  font: var(--font-weight-semibold) var(--font-body-md);
}

.size-lg .buttonText {
  font: var(--font-weight-semibold) var(--font-body-lg);
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
