.navBarLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: var(--shadow-base-default);
  color: var(--neutral-0);
  background-color: var(--neutral-800);
  transition: var(--transition-duration);
}

.navBarLink > span {
  color: var(--neutral-0);
  font: var(--font-weight-semibold) var(--font-body-md);

  text-align: start;
  width: 124px;
}

.navBarLink:hover {
  background-color: var(--neutral-700);
  box-shadow: var(--shadow-base-hover);
}
.navBarLink:focus-visible {
  background-color: var(--neutral-700);
  outline: 2px solid var(--neutral-900);
  outline-offset: 2px;
  box-shadow: var(--shadow-base-hover);
}
