.header {
  display: flex;
  position: fixed;
  justify-content: space-between;

  width: 100%;
  height: 64px;
  gap: 8px;

  background-color: var(--base-black);
  padding: 12px 24px 12px 16px;
  box-shadow: var(--shadow-base-default);
  z-index: 100;
}
.headerButtons {
  display: flex;
  align-items: center;
  gap: 24px;
}
