.navBar {
  padding: 24px 15px;
  width: 204px;
  flex-shrink: 0;
  overflow-y: auto;
  min-height: 0;

  background-color: var(--neutral-100);
  border-right: 1px solid var(--neutral-300);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
