.sideBar {
  width: 400px;
  max-width: 100%;
  height: calc(100vh - 64px);
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background-color: var(--neutral-100);
  border-left: 1px solid var(--neutral-300);

  display: flex;
  flex-direction: column;
}

.sideBarInner {
  padding: 12px;
  flex: 1;
  min-height: 0;

  overflow-y: auto;
}

.statisticWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100%;
}
