.footer {
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  color: var(--neutral-600);
  font: var(--font-weight-regular) var(--font-body-md);
}

.footer a,
.footer a:visited,
.footer a:link {
  text-decoration: underline;
  color: var(--neutral-600);
}
.footer a:focus-visible,
.footer a:hover {
  color: var(--neutral-800);
}
.footer a:focus-visible {
  outline: 2px solid var(--neutral-900);
  outline-offset: 2px;
  border-radius: 4px;
}
