* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

button {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
}
